################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/genuis/FileContentIndex
/.vs
.vscode/settings.json
/build/genuis
/dist/genuis
/wavefile.wav
/wavefile100.wav
/wavefile102.wav
/wavefile25.wav
/wavefile26.wav
/wavefile27.wav
/wavefile28.wav
/wavefile29.wav
/wavefile30.wav
/wavefile31.wav
/wavefile32.wav
/wavefile33.wav
/wavefile34.wav
/wavefile35.wav
/wavefile36.wav
/wavefile37.wav
/wavefile38.wav
/wavefile39.wav
/wavefile40.wav
/wavefile41.wav
/wavefile42.wav
/wavefile43.wav
/wavefile44.wav
/wavefile45.wav
/wavefile46.wav
/wavefile47.wav
/wavefile48.wav
/wavefile49.wav
/wavefile50.wav
/wavefile51.wav
/wavefile52.wav
/wavefile53.wav
/wavefile54.wav
/wavefile55.wav
/wavefile56.wav
/wavefile57.wav
/wavefile58.wav
/wavefile59.wav
/wavefile60.wav
/wavefile61.wav
/wavefile62.wav
/wavefile63.wav
/wavefile64.wav
/wavefile65.wav
/wavefile66.wav
/wavefile67.wav
/wavefile68.wav
/wavefile69.wav
/wavefile70.wav
/wavefile71.wav
/wavefile72.wav
/wavefile73.wav
/wavefile74.wav
/wavefile75.wav
/wavefile76.wav
/wavefile77.wav
/wavefile78.wav
/wavefile79.wav
/wavefile80.wav
/wavefile81.wav
/wavefile82.wav
/wavefile83.wav
/wavefile84.wav
/wavefile85.wav
/wavefile86.wav
/wavefile87.wav
/wavefile88.wav
/wavefile90.wav
/wavefile92.wav
/wavefile93.wav
/wavefile95.wav
/wavefile97.wav
/wavefile98.wav
/wavefile.wav
/dist
